#timerComponent .time-title {
    width: 80%;
    max-width: 450px;
    height: 55px;
    padding-top: 20px;
    margin-top: 15px;
    overflow: hidden;
    font-family: var(--title-font-family);
    font-weight: normal;
}
#timerComponent .time-title input {
    background: none;
    border: none;
    border-radius: 3px;
    padding-left: 5px;
    border: 1px solid var(--primary-text);
    color: var(--primary-text);
    -webkit-appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-size: 16px;
    font-weight: normal;
    width: 100%;
    height: 100%;
    outline: none;
}

#timerComponent .time-title .input-placeholder {
    color: var(--secondary-text);
    font-weight: bold;
    font-size: 14px;
    left: 5px;
    top: 38px;
    transform: translateY(-50%);
    transition: top 0.3s ease, font-size 0.3s ease, color 0.3s ease;
}

#timerComponent .time-title input:valid + .input-placeholder,
#timerComponent .time-title input:focus + .input-placeholder {
    top: 10px;
    color: var(--primary-blue);
    font-size: 12px;
}

#timerComponent .time-title .input-border {
    width: 100%;
    height: calc(100% - 20px);
    left: 0;
    top: 20px;
    border-radius: 3px;
    pointer-events: none;
}
#timerComponent .time-title .input-border::before,
#timerComponent .time-title .input-border::after {
    content: '';
    position: absolute;
    display: inline-block;
    width: 0;
    height: 0;
    pointer-events: none;
    transition: width 0.3s ease, height 0.2s ease;
}
#timerComponent .time-title .input-border::before {
    left: 0;
    bottom: 0;
    border-bottom: 0px solid var(--primary-blue);
    border-right: 0px solid var(--primary-blue);
}

#timerComponent .time-title .input-border::after {
    right: 0;
    top: 0;
    border-top: 0px solid var(--primary-blue);
    border-left: 0px solid var(--primary-blue);
}

#timerComponent .time-title input:valid ~ .input-border::before,
#timerComponent .time-title input:focus ~ .input-border::before,
#timerComponent .time-title input:valid ~ .input-border::after,
#timerComponent .time-title input:focus ~ .input-border::after {
    width: 100%;
    height: 100%;
    border-width: 3px;
}

#timerComponent .time-title input:valid ~ .input-border::before,
#timerComponent .time-title input:focus ~ .input-border::before {
    transition: width 0.3s ease, height 0.2s ease 0.3s;
}

#timerComponent .time-title input:valid ~ .input-border::after,
#timerComponent .time-title input:focus ~ .input-border::after {
    transition: border-width 0.3s ease 0.5s, width 0.3s ease 0.5s,
        height 0.2s ease 0.8s;
}

#timerComponent .time-title button {
    color: rgb(97, 97, 97);
    right: 0px;
    top: 10px;
    width: 40px;
    height: 100%;
}
#timerComponent .time-title input:valid ~ button {
    color: var(--primary-text);
}
