#signupModal .modal-dialog {
    width: 350px;
}
#signupModal .modal-content {
    background: var(--secondary-background-color);
    border-radius: 5px;
    margin-bottom: 150px;
}
#signupModal .modal-content .modal-header {
    border-top: 4px solid var(--primary-blue);
    border-bottom: none;
    color: var(--primary-text);
    padding: 15px 15px 0px 15px !important;
}
#signupModal .modal-content .modal-header p {
    font-size: 12px;
    color: var(--secondary-text);
}
#signupModal .modal-content .modal-header p span {
    font-size: 12px;
    color: var(--primary-blue);
}
#signupModal .modal-header h4 {
    font-family: var(--title-font-family) !important;
    font-size: 25px;
    line-height: 1.5;
    font-weight: bold;
    text-transform: uppercase;
}

#signupModal .modal-body {
    border: none;
}
#signupModal .modal-body form .login-icon {
    left: 20px;
    font-size: 16px;
    height: 100%;
    color: var(--primary-blue);
}
#signupModal .modal-body form input {
    width: 95%;
    height: 40px;
    font-size: 16px;
    line-height: 1;
    outline: none;
    border: none;
    border-radius: 5px;
    padding-left: 35px;
    color: var(--primary-text);
    background: var(--input-background) !important;
}

#signupModal .modal-body form input:-webkit-autofill,
#signupModal .modal-body form input:-webkit-autofill:hover,
#signupModal .modal-body form input:-webkit-autofill:focus,
#signupModal .modal-body form textarea:-webkit-autofill,
#signupModal .modal-body form textarea:-webkit-autofill:hover,
#signupModal .modal-body form textarea:-webkit-autofill:focus,
#signupModal .modal-body form select:-webkit-autofill,
#signupModal .modal-body form select:-webkit-autofill:hover,
#signupModal .modal-body form select:-webkit-autofill:focus {
    border: none;
    -webkit-text-fill-color: var(--primary-text);
    -webkit-box-shadow: 0 0 0px 1000px var(--input-background) inset;
    transition: background-color 5000s ease-in-out 0s;
}
/* #signupModal .modal-body form input:-webkit-autofill,
#signupModal .modal-body form input:autofill {
    background: red;
} */
#signupModal .modal-body form input::placeholder {
    position: relative !important;
    font-size: 16px;
    vertical-align: bottom;
    color: var(--secondary-text);
}

#signupModal .login-btn {
    width: 90%;
    background: var(--primary-blue);
    margin: 0 auto;
    color: var(--primary-text);
    font-family: var(--title-font-family) !important;
    font-size: 20px;
    font-weight: bolder;
    border-radius: 8px !important;
}
#signupModal .have-account-btn {
    font-size: 13px;
    text-decoration: underline;
    margin: 0 auto;
    color: var(--secondary-text);
}
