body {
    margin: 0;
    padding: 0;
    background: #2d2d2d;
    color: #f6f6f6;
}

hr {
    border-color: rgb(252, 161, 43);
}

.title {
    margin: 0 auto;
    width: 100%;
    text-align: center;
    font-size: 45px;
    font-weight: 400;
}


.input-container {
    display: flex;
    justify-content: center;
    padding: 30px 0px 30px 0px;
}

.title-input-container, .select-input-container {
    height: 70px;
    padding: 0px 10px;
}

.title-input-text, .select-title {
    text-align: left;
}

.title-input, .tag-input {
    float: left;
    height: 35px;
    border-radius: 6px;
    outline: none;
    border: none;
}

.title-input {
    color: white;
    background: rgb(75, 75, 75);
    width: 400px;
    margin-top: 15px;
}

.tag-input {
    font-size: 14px;
    background: rgb(231, 231, 231);
    width: 150px;
    border: 1px solid #2d2d2d;
}

.tag-input:hover {
    border: 1px solid rgb(231, 231, 231);
    cursor: pointer;
}

.new-tag-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
}

.select-btn-container {
    height: 35px;
    margin-top: 15px;
}

.tag-btn-container {
    height: 25px;
    width: 25px;
    float: left;
    padding: 5px 3px;
}

.new-tag-btn {
    background: transparent;
    border: none;
    outline: none;
}

.new-tag-btn:hover {
    cursor: pointer;
}

.tag-tooltip-text {
    opacity: 0;
    float: left;
    width: 125px;
    padding: 4px;
    color: #f6f6f6;
    background: rgb(75, 75, 75);
    border-radius: 8px;
    transition: 0.3s;
}

.new-tag-btn:hover + .tag-tooltip-text {
    opacity: 1;
}

::placeholder {
    color: rgb(192, 192, 192);
}

input:focus::placeholder {
    color: transparent;
}

.title-input:focus {
    background: rgb(94, 94, 94);
}

#stop-watch {
    margin: 0 auto;
    text-align: center;
}

#stop-watch .time {
    margin: 0 auto;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 50px;
    letter-spacing: -8px;
    font-size: 90px;
    font-weight: 400;
    font-family: Courier, monospace;
}

.start-stop-btn, .clear-btn, .submit-btn {
    background: rgb(252, 161, 43);
    border: 1px solid #2d2d2d;
    border-radius: 6px;
    margin: 0 5px;
    width: 100px;
    height: 25px;
    outline: none;
}

.start-stop-btn:hover {
    background: rgb(247, 172, 75);
    border: 2px solid rgb(252, 161, 43);
    cursor: pointer;
}





table td, th{
    border: 1px solid rgb(252, 161, 43);
    font-size: 18px;
}

tr {
    background: rgb(54, 54, 54);
}

table td + td + td + td + td {
    width: 1px;
    line-height: 20px;
    background: #2d2d2d;
    border: none;
    font-size: 13px;
    padding: 8px;
    color: rgba(255, 255, 255, 0.1);
}

table {
    margin: 70px auto;
    border-collapse: collapse;
    width: 70%;
}

th {
    background: rgb(75, 75, 75);
    text-align: left;
    padding: 15px 20px;
}

td {
    text-align: left;
    padding: 10px 20px;
}

tr:hover {
    background: rgb(63, 63, 63);
}
tr:hover td + td + td + td + td button{
    font-size: 16px;
    cursor: pointer;
    color: rgba(255, 255, 255, .4);
}

td button {
    background: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.05);
}
td button:hover {
    cursor: pointer;
    color: rgba(255, 255, 255, 0.3);
}



