:root {
    --main-background-color: #212730;
    --secondary-background-color: #2a303b;
    --nav-background-color: #1c2129;
    --primary-text: #eeeeee;
    --secondary-text: rgb(167, 167, 167);
    --time-font-family: Courier, monospace;
    --title-font-family: 'Open Sans', sans-serif;
    --input-background: #474e5a;
    --primary-blue: #00adb5;
    --danger: #dc3545;
}
* {
    font-family: var(--title-font-family);
    font-weight: normal;
}

body {
    background: var(--main-background-color);
}

.inp {
    outline: none !important;
    border: none !important;
    background: var(--input-background);
    border-radius: 3px;
}

.alerts-container {
    z-index: 100 !important;
    width: 100%;
    position: fixed;
    bottom: 0;
    margin: 0;
    padding: 0;
}

/* Alerts */
.alerts-container .alert {
    right: 0px;
    left: 0px;
    bottom: 0px;
    padding: 10px 0px;
    margin-bottom: 5px !important;
    font-size: 16px;
    width: 100%;
    opacity: 1;
    z-index: 10000 !important;
}
