.gradient-divider {
    width: 100%;
    height: 120px;
    background: linear-gradient(
        0deg,
        var(--secondary-background-color),
        var(--main-background-color)
    );
}

#timeItemsContainer {
    background: var(--secondary-background-color);
}
.time-items-container {
    margin-top: 15px;
    width: 90vw;
    max-width: 400px;
}

#timeItemsContainer .time-items-title {
    color: var(--primary-text);
    font-size: 35px;
    font-family: var(--title-font-family);
    font-weight: bold;
}

.time-item {
    border-radius: 10px !important;
    background: #393e46 !important;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 8px 0px;
}

.time-item-header {
    height: 90px;
    width: 100%;
    margin: 0 !important;
    padding: 0 !important;
}
.time-item-header .time-title {
    color: rgb(139, 139, 139);
    font-size: 15px;
    /* max-width: 60%; */
    overflow: hidden;
    white-space: nowrap;
}
.time-item-header .time-text {
    color: #eeeeee;
    font-family: Courier, monospace;
    font-size: 30px !important;
    font-weight: bolder;
    letter-spacing: -2px !important;
}

.time-item-header .tag-icon {
    color: white;
    padding: 0;
    margin: 0;
    height: fit-content;
    padding: 2px;
    border-radius: 5px;
    font-size: 13px;
}

.item-time-date {
    margin-bottom: 10px;
    color: #eeeeee;
    font-size: 12px;
    letter-spacing: 0.5px;
    text-align: center;
}
.item-time-date .date {
    color: rgb(167, 167, 167);
}

.time-item-header .collapse-btn {
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;
    margin: 0 !important;
    padding: 0 !important;
}
.time-item-header .collapse-btn span {
    position: absolute;
    bottom: -10px;
    left: 0;
    right: 0;
    margin: 0 auto;
    color: rgb(146, 146, 146);
}

.time-items-container .inner-time-item .time-title h1 {
    color: #eeeeee;
    font-size: 20px;
    padding: 3px 15px;
}
.time-items-container .inner-time-item .underline {
    height: 3px;
    width: 120px;
    background: #00adb5;
    margin: 0 auto;
}

.time-items-container .inner-time-item .time-stats-container .time-stat {
    color: #d3d3d3;
    font-size: 14px;
}
.time-items-container .inner-time-item label {
    color: #00adb5;
    font-size: 12px;
}
.time-items-container .inner-time-item .time-description p {
    color: #eeeeee;
    font-size: 14px;
}

.time-items-container .inner-time-item .edit-btns button {
    font-size: 12px;
    font-weight: bold;
    height: 35px;
    width: 70px;
    margin: 15px 15px 5px 15px;
}

#timeItemsContainer .total-filtered-time label {
    padding: 0;
    margin: 0;
    font-size: 12px;
    color: var(--primary-blue);
}
#timeItemsContainer .total-filtered-time span {
    padding: 0;
    margin: 0;
    font-size: 26px;
    letter-spacing: -2px;
    font-family: var(--time-font-family);
    font-weight: bold;
    color: var(--primary-text);
}

#timeItemsContainer .no-times {
    height: 160px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 8px 0px;
}
#timeItemsContainer .no-times .data-icon {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    border: 2px solid var(--primary-blue);
}
#timeItemsContainer .no-times i {
    color: var(--primary-blue);
    font-size: 30px;
}
#timeItemsContainer .no-times h1 {
    color: var(--primary-text);
}
#timeItemsContainer .no-times span {
    font-size: 16px;
    color: var(--secondary-text);
}
