#timeItemsContainer .sort-by-date-btns {
    width: 95%;
}
#timeItemsContainer .sort-by-date-btns button {
    padding: 3px 8px;
    font-size: 15px;
    color: var(--secondary-text);
    border-bottom: 1px solid var(--primary-text);
}
#timeItemsContainer .sort-by-date-btns button:active,
#timeItemsContainer .sort-by-date-btns button:focus {
    outline: none !important;
    box-shadow: none;
}
#timeItemsContainer .sort-by-date-btns button:hover {
    border-bottom: 2px solid var(--primary-text);
    color: var(--primary-text);
}
#timeItemsContainer .active-sort-btn {
    outline: none !important;
    box-shadow: none;
    font-weight: bold !important;
    color: var(--primary-blue) !important;
    border-bottom: 3px solid var(--primary-blue) !important;
}

@media screen and (max-width: 424px) {
    #timeItemsContainer .sort-by-date-btns button {
        font-size: 14px;
    }
}
@media screen and (max-width: 400px) {
    #timeItemsContainer .sort-by-date-btns button {
        font-size: 13px;
    }
}
@media screen and (max-width: 380px) {
    #timeItemsContainer .sort-by-date-btns button {
        font-size: 12px;
    }
}
@media screen and (max-width: 360px) {
    #timeItemsContainer .sort-by-date-btns button {
        font-size: 11px;
    }
}
@media screen and (max-width: 340px) {
    #timeItemsContainer .sort-by-date-btns button {
        padding: 3px 4px;
    }
}
