    * {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    background: #2d2d2d;
    overflow: visible;
    height: 100vh;
    width: 100vw;
}

html, body, .body-wrapper {
    overflow-x: hidden;
    width: 100%;
}


/* !NAVIGATION BAR */
/* #region Navigation Bar */
.nav-bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    font-family: 'Poppins', sans-serif;
    background: #111111;
}

.title {
    color: white;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 22px; 
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 30%;
}
.nav-links li {
    display: none;
    list-style: none;
    cursor: pointer;
}
.nav-links span {
    color: white;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
    padding: 20px;
}
.nav-links span:hover {
    background: #585858;
}
.burger {
    display: none;
}
.burger div {
    width: 25px;
    height: 3px;
    background: white;
    margin: 5px;
    transition: all 0.3s ease;
}

@media screen and (max-width: 1024px) {
    .nav-links { 
        width: 60%;
    }
}

@media screen and (max-width: 768px) {
    body, html {
        overflow-x: hidden;
    }
    .body-wrapper {
        overflow-x: hidden;
        position: relative
    }
    .nav-links {
        display: flex;
        z-index: 3;
        position: absolute;
        right: 0px;
        top: 8.5vh;
        height: 92vh;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        width: 50%; 
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
        padding: 0px 50px;
        background: black;
    }
    .nav-links li {
        opacity: 0;
        margin-top: 70px;
        margin-bottom: 50px;
        font-size: 16px;
    }
    .burger {
        display: block;
        cursor: pointer;
    }
}

.nav-active {
    transform: translateX(0%);
}

@keyFrames navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px)
    }
    to {
        opacity: 1;
        transform: translateX(0px)
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
    opacity: 0;    
}
.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}
/* #endregion */


/* !Modals */
/* #region Modals */
/* #region  General modal styles */
.modal {
    display: none;
    position: fixed;
    z-index: 6;
    top: 40%;
    left: 50%;
    margin: auto;
    transform: translate(-50%, -50%);
    background: white;
    font-family: 'Poppins', sans-serif;
}
.modal-title {
    color: black;
    font-size: 25px;
    text-align: center;
    margin: 35px 0px;
}
/* #region Nav modal general style */
.nav-modal {
    width: 350px;
    height: 325px;
    border-radius: 4px;
    border: 1px solid black;
}
.nav-modal-input {
    display: block;
    margin : 20px auto 0px auto;
    height: 40px;
    width: 90%;
    border: 1px solid rgb(190, 190, 190);
    border-radius: 3px;
    outline: none;
}
.nav-modal-button {
    display: block;
    margin: 0px auto;
    margin-top: 30px;
    height: 40px;
    width: 70%;
    font-size: 16px;
    border: 0;
    border-radius: 20px;
    background-image: linear-gradient(to right, rgb(252, 102, 43) , rgb(252, 161, 43));
}
.nav-modal-button:hover {
    cursor: pointer;
    background-image: linear-gradient(to right, rgb(252, 85, 43) , rgb(252, 154, 43));
}
.nav-modal-button:focus {
    outline: none;
    border: 1px solid rgb(70, 70, 70);
    background-image: linear-gradient(to right, rgb(252, 85, 43) , rgb(252, 154, 43));
}

/* #endregion */

/* #region  Tag modal general modifiers */
.tag-buttons {
    text-align: center;
}
.cancel-tag-btn, .submit-tag-btn {
    height: 30px;
    width: 60px;
    margin: 0 10px;
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
.cancel-tag-btn {
    background: gray;
    border-bottom: 2px solid rgb(82, 82, 82);
}

.cancel-tag-btn:active {
    border: 1px solid gray;
    border-bottom: 1px solid rgb(61, 61, 61);
}

.submit-tag-btn {
    background: rgb(252, 161, 43);
    border-bottom: 2px solid rgb(209, 118, 0);
}

.submit-tag-btn:active {
    border: 1px solid rgb(252, 161, 43);
    border-bottom: 1px solid rgb(209, 118, 0);
}
/* #endregion */
/* #endregion */


/* #region  Login */
.login-forgot-password {
    display: block;
    font-size: 14px; 
    margin: 10px auto 0px auto;
    text-align: center;
}
#forgot-password-btn:hover {
    cursor: pointer;
}



/* #endregion */

/* #region  Signup */
.signup-modal {
    height: 360px;
}
.signup-modal .modal-title {
    margin: 25px 0px;
}


/* #endregion */

/* #region  Account */
.account-modal {
    flex-direction: column;
}
.account-modal .modal-title {
    text-align: center;
    font-weight: 550;
    margin: 15px 0px 10px 0px;
    font-size: 28px;
}
.account-info-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 90%;
    border: 1px solid gray;
}
.account-info-item {
    width: 100%;
    border-bottom: 1px solid gray;
    box-sizing: border-box;
    padding: 5px;
}
.account-info-item:nth-child(even) {
    background-color: rgb(247, 247, 247);
}

/* #endregion */

/* #region  Create Tag */
.new-tag-modal {
    width: 250px;
    height: 240px;
    border-radius: 8px;
}
.new-tag-modal .modal-title {
    margin: 15px 0px;
}
.tag-input-text {
    display: block;
    margin : 0 auto;
    height: 26px;
    width: 90%;
    border: 1px solid rgb(190, 190, 190);
    border-radius: 3px;
    outline: none;
}
.tag-input-text:focus {
    border: 2px solid rgb(190, 190, 190);
}
.color-select-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 10px;
    padding: 5px 5px 0px 5px;
    margin: 20 auto;
    width: 90%;
    height: 70px;
}
.color-box {
    margin: 0 auto;
    border-radius: 50%;
    width: 25px;
    height: 25px;
}

.color-box:hover {
    border: 1px solid rgb(148, 148, 148);
    cursor: pointer;
}

.color-box:active {
    border: 2px solid rgb(148, 148, 148);
}

.color-box.active {
    border: 2px solid rgb(148, 148, 148);
}
/* #endregion */

/* #region Edit Tag */

.change-tag-modal {
    width: 300px;
    padding: 5px;
    height: 400px;
}

.change-tag-modal .modal-title {
    font-size: 22px;
    text-align: center;
    margin: 10px 0px;
    padding-bottom: 5px;
    border-bottom: 1px solid gray;
}
.change-tag-name {
    padding: 5px;
    margin-bottom: 10px;
    border-bottom: 1px solid black;
}
.change-tag-name-input {
    width: 90%;
    margin: 5px auto;
    display: flex;
    flex-direction: column;
    font-size: 14px;
}
.change-tag-name-input input {
    display: block;
    margin : 0 auto;
    height: 30px;
    width: 100%;
    border: 1px solid rgb(190, 190, 190);
    border-radius: 3px;
    outline: none;
    text-align: center;
}
.change-tag-modal-search {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}
#change-tag-modal-search-input {
    margin: 0 auto;
    text-align: center;
    border-radius: 8px;
    border: 1px solid rgb(190, 190, 190);
    padding: 2px;
    outline: none;
}
.change-tag-modal-tag {
    text-align: center;
    margin: 0 auto;
    font-size: 16px;
    width: 90%;
    height: 35px;
    border-bottom: 1px solid gray;
    display: flex;
    align-items: center;
}
.change-tag-modal-scrollbar::-webkit-scrollbar {
    width: 7px;
	background-color: white;
}
.change-tag-modal-scrollbar::-webkit-scrollbar-thumb {
    border-radius: 15px;
	background-color: rgb(252, 161, 43);
}
.change-tag-modal-scrollbar::-webkit-scrollbar-thumb:hover {
    background: rgb(235, 133, 0);
}
.change-tag-modal-tag-color {
    width: 16px;
    height: 16px;
    border-radius: 50%;
}

.change-tag-modal-tag-title {
    margin-left: 10px;
    text-align: center;
}

.change-tag-modal-tag:hover {
    background: rgb(238, 238, 238);
    cursor: pointer;
}

.change-tag-modal-tag:active {
    background: rgb(238, 238, 238);
}

.change-tag-modal-tag.active {
    background: rgb(238, 238, 238);
}
.change-tag-modal .tag-buttons {
    margin: 15px 0px 10px 0px;
}
/* #endregion */


/* Modal Blur */
.modal-blur {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 5;
    background: rgba(0, 0, 0, 0.6);
}




/* #endregion */


/* !TIMER ELEMENT */
/* #region Timer Element */
#stop-watch {
    margin: 0 auto;
    text-align: center;
    color: white;
}

/* #region Time Title input */

.input-container {
    display: flex;
    justify-content: center;
    padding: 30px 0px 30px 0px;
}

.title-input-container{
    height: 70px;
    padding: 0px 10px;
    margin-left: 110px;
}

.title-input-text {
    text-align: left;
}

.title-input {
    float: left;
    height: 35px;
    border-radius: 6px;
    padding: 5px;
    outline: none;
    border: none;
}

.title-input {
    color: white;
    background: rgb(75, 75, 75);
    width: 400px;
    margin-top: 15px;
}
::placeholder {
    color: rgb(192, 192, 192);
}

input:focus::placeholder {
    color: transparent;
}

.title-input:focus {
    background: rgb(94, 94, 94);
}

/* #endregion */

/* #region Time Tag Dropdown */
.dropdown-input-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.dropdown-input-title {
    text-align: left;
    height: 18px;
}
.dropdown-container {
    display: flex;
    margin-top: 15;
    justify-content: space-between;
    align-items: center;
}
.tag-btn-container {
    margin-left: 5px;
    height: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.new-tag-btn {
    background: transparent;
    border: none;
    outline: none;
}
.new-tag-btn:hover {
    cursor: pointer;
}
.tag-tooltip-text {
    opacity: 0;
    padding: 4px 8px;
    color: #f6f6f6;
    background: rgb(75, 75, 75);
    border-radius: 8px;
    transition: 0.6s;
}
.new-tag-btn:hover + .tag-tooltip-text {
    opacity: 1; 
}
.dropdown {
    height: 35px;
    position: relative;
}
.dropdown-select {
    color: black;
    background: rgb(255, 255, 255);
    border-radius: 6px;
    width: 150px;
    height: 35px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.selected {
    margin-left: 5px;
}
.dropdown-select i {
    margin-right: 5px;
}
.dropdown-list {
    width: 100%;
    position: absolute;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s linear, visibility 0.2s linear;
}
.dropdown:hover .dropdown-list {
    opacity: 1;
    visibility: visible;
}
.dropdown-item {
    color: black;
    margin-top: 4px;
    background: white;
    width: 100%;
    padding: 5px;
    border-radius: 4px;
    border: 1px solid darkgray;
    display: flex;
    justify-content: space-between;
}
.dropdown-item-name {
    padding: 2px 5px 0px 0px;
}
.delete-tag {
    color: gray;
    font-size: 20px;
    transform: rotate(45deg);
}
.delete-tag:hover {
    color: black;
    font-weight: 900;
}
.dropdown-item:hover {
    border: 1px solid black;
    cursor: pointer;
}
/* #endregion */

/* #region Stop-watch element / buttons */
#stop-watch .time {
    margin: 0 auto;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 35px;
    letter-spacing: -8px;
    font-size: 90px;
    font-weight: 400;
    font-family: Courier, monospace;
}
.start-stop-btn, .clear-btn, .submit-btn {
    background: rgb(252, 161, 43);
    border: 1px solid #2d2d2d;
    border-radius: 6px;
    margin: 0 5px;
    width: 100px;
    height: 25px;
    outline: none;
}

.start-stop-btn:hover {
    background: rgb(247, 172, 75);
    border: 2px solid rgb(252, 161, 43);
    cursor: pointer;
}
/* #endregion */

/* For Mobile/smaller devices */
@media screen and (max-width: 768px) {
    .input-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 15px 0px;
    }
    .title-input-container, .dropdown-input-container {
        margin: 10px 0px;
    }
    .title-input, .dropdown-container {
        margin-top: 5px;
    }
    .title-input {
        width: 90vw;
        height: 50px;
    }
    .dropdown-select {
        width: 200px;
        height: 40px;
    }
    .tag-tooltip-text {
        display: none;
    }


    #stop-watch .time {
        font-size: 70px;
        margin-top: 0px;
        margin-bottom: 15px;
    }
}

/* #endregion */


/* !Timespan Select */
/* #region Timespan Select */
.time-span-select {
    margin: 30px auto 0px auto;
    display: flex;
    justify-content: center;
}
.time-span-select-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(15, 15, 15);
    border-radius: 5px;
}
.time-span-select-button {
    color: white;
    outline: none;
    border: none;
    padding: 7px 35px;
    background: none;
    cursor: pointer;
}
.time-span-select-button-break {
    height: 20px;
    border-left: 1px solid white;
}

.time-span-select-button-active {
    cursor: default;
    color: black;
    background: white;
    border-radius: 5px;
}

/* #endregion */

/* !TIME TABLE */
/* #region Time Table Element*/
table {
    text-align: center;
    border-collapse: collapse;
    width: 90%;
    margin: 70px auto;
    font-size: 18px;
    color: white;
    border-radius: 10px;
    table-layout: fixed
}
table th, table td {
    border: 1px solid rgb(252, 161, 43);
    padding: 15px 0px;
    background: rgb(77, 77, 77);
}
.time-table-title-cell {
    display: flex;
    justify-content: space-between;
    padding: 0px 25px;
}
.table-options-buttons button {
    cursor: pointer;
    background: none;
    outline: none;
    border: none;
    font-size: 15px;
    margin: 0px 10px;
    font-weight: bold;
}
.table-edit-button {
    color: rgb(252, 161, 43);
}
.table-delete-button {
    color: white;
}

@media screen and (max-width: 768px) {
    #time-table {
        font-size: 18px;
        margin: 40px auto;

    }
    #time-table thead {
        display: none;
    }
    #time-table tr, #time-table td {
        display: block;
        border: 0;
    }
    #time-table tr {
        padding: 10px;
        margin-bottom: .625em;
    }
    
    #time-table td:last-child {
        border-bottom: 5px solid rgb(252, 161, 43);
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }
    #time-table td:first-child {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    
    #time-table td {
        padding: 10px 10px;
        padding-left: 54%;
        position: relative;
        text-align: left;
        border-bottom: 1px solid rgb(252, 161, 43);
        border-width: 90%;
    }
    #time-table td::before {
        text-align: left;
        position: absolute;
        padding: 10px;
        left: 0;
        top: 0;
        bottom: 0;
        width: 45%;
        font-weight: 700;
        text-transform: capitalize;
        content: attr(data-col-title)
    }
    .table-options {
        display: block;
    }
    .table-options-buttons {
        display: block;
    }
    
}
/* #endregion */



/* !Footer */
.footer {
    background: #111111;
    width: 100%;
    height: 70px;
    margin-top: 100px;
    display: flex;
    justify-content: start;
    align-items: center;
}
.footer-text {
    font-family: 'Poppins', sans-serif;
    margin-left: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.copyright {
    font-size: 12px;
    color: rgb(68, 68, 68);
}
.footer-links {
    margin-top: 5px;
    font-size: 13px;
}
.footer-links a {
    margin-right: 15px;
    text-decoration: none;
    color: rgb(180, 180, 180);
}
.footer-links a:hover {
    text-decoration: underline;
}
.footer-links a:visited {
    text-decoration: none;
    color: rgb(180, 180, 180);
}





.my-charts {
    position: relative;
    width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
} 
.chart {
    height: 350px; 
    width: 350px;
}






