#forgotPasswordEmailPromptModal .modal-dialog {
    width: 95%;
    max-width: 350px;
}
#forgotPasswordEmailPromptModal .modal-content {
    border-radius: 5px;
    margin-bottom: 150px;

    background: var(--secondary-background-color);
}
#forgotPasswordEmailPromptModal .modal-content .modal-header {
    border-top: 4px solid var(--primary-blue);
    border-bottom: none;
    color: var(--primary-text);
    padding: 15px 15px 0px 15px !important;
}
#forgotPasswordEmailPromptModal .modal-header h4 {
    font-family: var(--title-font-family) !important;
    font-size: 22px;
    line-height: 1.5;
    font-weight: bold;
}
#forgotPasswordEmailPromptModal .modal-header p {
    font-size: 13px;
    color: var(--secondary-text);
}
#forgotPasswordEmailPromptModal .modal-body {
    padding: 0px 15px !important;
}
#forgotPasswordEmailPromptModal label {
    font-size: 13px;
    padding: 3px 0px !important;
    color: var(--primary-blue);
}
#forgotPasswordEmailPromptModal input {
    font-family: var(--title-font-family) !important;
    color: var(--primary-text);
    height: 35px;
    background: var(--input-background);
    outline: none;
    border: none;
    border: 1px solid #4f5763;
    border-radius: 5px;
    padding: 16px 15px !important;
    font-size: 18px;
    letter-spacing: 1px;
    margin-right: 20px;
    width: 100%;
}
#forgotPasswordEmailPromptModal .reset-password-btn {
    width: 100%;
    background: var(--primary-blue);
    margin: 0 auto;
    color: var(--primary-text);
    font-family: var(--title-font-family) !important;
    font-size: 20px;
    border-radius: 8px !important;
}

#forgotPasswordEmailPromptModal .back-to-signin-btn {
    color: var(--secondary-text);
    font-size: 12px;
    font-weight: bold;
    text-decoration: underline;
    margin: 0 auto;
}
