#contactModal .modal-dialog {
    max-width: 800px;
    width: 95%;
}
#contactModal .modal-content {
    background: var(--secondary-background-color);
    border-radius: 5px;
    margin-bottom: 150px;
}
#contactModal .modal-content .modal-header {
    border-top: 4px solid var(--primary-blue);
    color: var(--primary-text);
    padding: 15px 15px 15px 15px !important;
}
#contactModal .modal-header .modal-title {
    font-size: 24px;
    font-weight: bold;
    color: var(--primary-text);
}

#contact-form {
    width: 90%;
    margin: 0 auto;
}

#contact-form .section {
    width: 100%;
    color: var(--primary-text);
    font-size: 15px;
}
#contact-form .section span {
    color: var(--primary-blue);
    font-size: 15px;
}

#contact-form label,
#contact-form input,
#contact-form textarea {
    display: block;
}
#contact-form label {
    position: relative;
    color: var(--secondary-text);
    font-size: 13px;
    font-weight: normal !important;
}
#contact-form textarea,
#contact-form input {
    border-radius: 3px;
    background: var(--input-background);
    outline: none;
    border: none !important;
    box-shadow: none !important;
    -webkit-appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    appearance: none;
    color: var(--primary-text);
    font-size: 14px;
    font-weight: normal;
}
#contact-form input {
    height: 45px;
    width: 100%;
    padding: 14px;
}
#contact-form input::placeholder,
#contact-form textarea::placeholder {
    color: var(--secondary-text);
}

#contact-form .input-border {
    width: 100%;
    height: calc(100%);
    height: 100%;
    position: absolute;
    left: 0;
    top: 0px;
    border-radius: 3px;
    pointer-events: none;
}

#contact-form .input-border::before,
#contact-form .input-border::after {
    content: '';
    display: inline-block;
    width: 0;
    height: 0;
    position: absolute;
    border-radius: 3px;
}
#contact-form .input-border::before {
    left: 0;
    bottom: 0;
    border-bottom: 0px solid var(--primary-blue);
    border-right: 0px solid var(--primary-blue);
}
#contact-form .input-border::after {
    right: 0;
    top: 0;
    border-top: 0px solid var(--primary-blue);
    border-left: 0px solid var(--primary-blue);
}

#contact-form input:focus ~ .input-border:before,
#contact-form input:focus ~ .input-border:after,
#contact-form input:valid ~ .input-border:before,
#contact-form input:valid ~ .input-border:after,
#contact-form textarea:valid ~ .input-border:before,
#contact-form textarea:valid ~ .input-border:after,
#contact-form textarea:focus ~ .input-border:before,
#contact-form textarea:focus ~ .input-border:after {
    width: 100%;
    height: 100%;
    border-width: 2px;
}
#contact-form input:focus ~ .input-border:before,
#contact-form textarea:focus ~ .input-border:before {
    transition: width 0.2s ease, height 0.1s ease 0.2s;
}
#contact-form input:focus ~ .input-border:after,
#contact-form textarea:focus ~ .input-border:after {
    transition: border-width 0s ease 0.3s, width 0.2s ease 0.3s,
        height 0.1s ease 0.5s;
}

#contact-form .submit-contact-form {
    margin: 0 auto;
    font-size: 16px;
    font-weight: bolder;
    max-width: 200px;
    width: 100%;
    height: 40px;
    border-radius: 8px;
    color: var(--secondary-text);
    background: var(--input-background);
}
#contact-form:valid > button {
    color: var(--primary-text);
    background: var(--primary-blue);
}

#contactModal .close-modal {
    top: 0;
    right: 15px;
    color: var(--secondary-text);
    font-size: 50px;
    font-weight: 100;
    transform: rotate(-45deg);
}

#contactModal .close-modal:hover {
    cursor: pointer;
    color: var(--primary-text);
}
