#editTimeModal .modal-dialog {
    max-width: 400px;
    width: 95%;
}
#editTimeModal .modal-content {
    color: var(--primary-text);
    background: var(--secondary-background-color);
    border-radius: 5px;
}

#editTimeModal .modal-content .modal-title {
    font-weight: bold;
}

#editTimeModal .modal-body label {
    color: #00adb5;
    font-size: 14px;
}

#editTimeModal .modal-body input {
    height: 40px;
    border: 0;
    outline: none;
    border-radius: 3px;
    background: #515a69;
    font-size: 18px;
    font-weight: bold;
}

#editTimeModal .modal-body .change-tag .tag-item {
    border-bottom: 1px solid gray;
}

#editTimeModal .modal-body .change-tag .tag-item .tag-color {
    height: 20px;
    width: 20px;
    border-radius: 50%;
}
#editTimeModal .modal-body .change-tag .tag-item .tag-name {
    font-size: 16px;
}
#editTimeModal .modal-body .change-tag button {
    color: var(--primary-text);
    font-size: 16px;
    background: #3c4249;
}

#editTimeModal .modal-body .change-description .description-text {
    background: #515a69;
    border-radius: 3px;
    border: 0 !important;
    outline: none !important;
    color: var(--primary-text);
    font-size: 16px;
}
#editTimeModal .modal-body .change-description .description-text::placeholder {
    color: var(--secondary-text);
}

#editTimeModal .modal-body .modal-btns button {
    color: var(--secondary-text);
    font-size: 12px;
    font-weight: bold;
    height: 40px;
    width: 70px;
    margin: 15px 15px 5px 15px;
}

#editTimeModal .modal-body .modal-btns #submitEditModalBtn {
    color: var(--primary-text);
    background: var(--primary-blue);
}

/* Input animation */
#editTimeModal .modal-body .input-border,
#editTimeModal .modal-body .textarea-border {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    pointer-events: none;
    border-radius: 3px;
}
#editTimeModal .modal-body .input-border {
    height: 40px;
    padding: 1px 2px;
}
#editTimeModal .modal-body .textarea-border {
    height: 154px;
    padding: 5px 10px;
}

#editTimeModal .modal-body .input-border::before,
#editTimeModal .modal-body .textarea-border::before {
    content: '';
    position: absolute;
    display: inline-block;
    height: 100%;
    width: 0%;
    border-radius: 3px;
    left: 0;
    bottom: 0;
    border-bottom: 0px solid var(--primary-blue);
    transition: width 0.8s ease;
    pointer-events: none;
}
#editTimeModal .modal-body .input-border::before {
    padding: 1px 2px;
}
#editTimeModal .modal-body .textarea-border::before {
    padding: 5px 10px;
}

#editTimeModal .modal-body input:focus ~ .input-border::before,
#editTimeModal .modal-body textarea:focus ~ .textarea-border::before {
    width: 100%;
    border-width: 2.5px;
    transition: width 0.8s ease;
}

/* Edit Time input styles */
#modalEditTimeInput {
    width: 100%;
    height: 50px;
    margin-bottom: 5px;
}

#modalEditTimeInput .time-cont label {
    margin: 0;
    padding: 0;
    font-size: 14px;
    color: white;
}
#modalEditTimeInput .time-cont input {
    /* text-align: center; */
    width: 60px;
    height: 40px;
    outline: none;
    background: #515a69;
    border: 0;
    padding: 5px;
}
#modalEditTimeInput .time-cont input::placeholder {
    color: var(--secondary-text);
    font-family: var(--time-font-family);
}

#modalEditTimeInput span {
    height: 34;
    padding-top: 25px;
    font-size: 16px;
    font-weight: bolder;
}

@media screen and (max-width: 330px) {
    #modalEditTimeInput .time-cont input {
        width: 55px;
    }
    #editTimeModal .modal-body input {
        font-size: 16px;
    }
}
@media screen and (max-width: 320px) {
    #modalEditTimeInput .time-cont input {
        width: 50px;
    }
}
