body.modal-open {
    overflow: hidden;
}

#timerComponent {
    min-height: 600px;
}

#timerComponent .timer {
    font-family: var(--time-font-family);
    color: var(--primary-text);
    font-weight: bolder;
    font-size: 75px;
    letter-spacing: -2px;
    margin: 40px 0px 20px 0px;
}

#timerComponent .time-info-container .time-tag-btn {
    color: var(--secondary-text);
    font-size: 16px;
    background: #242b33;
    border-radius: 5px;
}

@media screen and (min-width: 1200px) {
    #timerComponent .timer {
        padding-top: 20px;
        font-size: 85px;
    }
}
@media screen and (max-width: 360px) {
    #timerComponent .timer {
        font-size: 65px;
    }
}
@media screen and (max-width: 310px) {
    #timerComponent .timer {
        font-size: 55px;
    }
}
