#timerComponent .time-title {
    width: 70%;
    max-width: 450px;
    height: 55px;
    overflow: hidden;
}
#timerComponent .time-title input {
    background: none;
    color: var(--primary-text);
    font-size: 16px;
    width: 100%;
    height: 100%;
    outline: none;
    border: 0;
    padding-top: 20px;
}

#timerComponent .time-title label {
    color: var(--secondary-text);
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 14px;
    pointer-events: none;
    border-bottom: 1px solid var(--primary-text);
}
#timerComponent .time-title label::after {
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0;
    height: 100%;
    width: 100%;
    border-bottom: 3px solid var(--primary-blue);
    transform: translateX(-100%);
    transition: all 0.6s ease;
}
#timerComponent .time-title .content-name {
    bottom: 5px;
    left: 5px;
    transition: all 0.3s ease;
}
#timerComponent .time-title input:focus + .label-name .content-name,
#timerComponent .time-title input:valid + .label-name .content-name {
    transform: translateY(-100%);
    font-size: 12px;
    color: var(--primary-blue);
}

#timerComponent .time-title input:focus + .label-name::after,
#timerComponent .time-title input:valid + .label-name::after {
    transform: translateX(0%);
}

#timerComponent .time-title button {
    color: var(--primary-text);
    right: 0px;
    top: 5px;
    width: 40px;
    height: 100%;
}
