#tagListModal .modal-content {
    width: 80%;
    background: #393e46;
    color: #eeeeee;
}

#tagListModal .modal-content .modal-title {
    font-weight: bold;
}

#tagListModal .modal-body .search-input {
    height: 30px;
    width: 100%;
    outline: none;
    border: none;
    font-size: 16px;
    background: #515a69;
}

#tagListModal .modal-body .tag-items {
    width: 100%;
}
#tagListModal .modal-body .tag-item {
    border-bottom: 1px solid #515a69;
}
#tagListModal .modal-body .tag-item span {
    font-size: 16px;
}

#tagListModal .modal-body .tag-item .selected-tag {
    position: absolute;
    right: 15px;
}
