footer {
    height: 140px;
    width: 100%;
    background: var(--nav-background-color);
}
footer .footer-copyright {
    color: var(--secondary-text);
    font-size: 12px;
}

footer .footer-links a i {
    color: var(--primary-text);
    font-size: 40px;
}
footer .support-contact-links a {
    padding: 10px 5px;
    font-size: 15px;
    color: var(--primary-text);
    text-decoration: none;
}
footer .support-contact-links span {
    font-size: 15px;
    color: var(--primary-text);
}
